# Django Core
Django
djangorestframework

# PostgreSQL Driver
psycopg2-binary

# OCR and Image Processing
pytesseract
Pillow
djangorestframework-api-key
thefuzz
python-Levenshtein
dj-rest-auth
djangorestframework-simplejwt
django-allauth

# CORS support
django-cors-headers

# HTTP library
requests

# Environment variables
python-dotenv
dj-database-url
